/* AboutPage.css */
.about-container {
  max-width: 80%;
  margin: 60px auto;
  padding: 40px 20px;
  background-color: #fef0f8; /* Light pink background for a girly touch */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333; /* Dark text for readability */
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  background-color: #ffffff; /* White background for content sections */
  border: 2px solid rgb(225, 145, 237, 0.3); /* Soft pink border for a stylish look */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.about-content {
  flex-basis: 48%;
  padding: 20px;
  margin: 0;
  text-align: left;
  font-family: 'Poppins', sans-serif; /* Elegant font for text */
  color: #333333; /* Dark grey for readability */
}

h2, h3, h4 {
  color: #b42ab4; /* Bright pink for headings */
  margin-bottom: 20px;
  font-weight: 700;
}

p {
  color: #464646; 
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1.2rem; 
  font-weight: 900;
}

.about-image {
  flex-basis: 48%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.about-image:first-child {
  background-image: url('src/images/allayne0.jpg');
}

.about-image:last-child {
  background-image: url('src/images/WhatsApp Image 2024-08-22 at 9.45.04 AM.jpeg');
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }

  .about-content, .about-image {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
