.about-container {
  max-width: 1200px;
  margin: 60px auto; /* Increased margin for better spacing */
  padding: 40px 20px; /* Added padding for breathing room */
  background-color: #fff; /* Darker background for contrast */
  border-radius: 10px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Space between content and image */
  align-items: center;
  margin-bottom: 60px; /* Reduced margin for better balance */
}

.about-content {
  flex-basis: 48%; /* Reduced width for better spacing */
  padding: 20px;
  margin: 0;
  text-align: left; /* Align text to the left */
}

.about-image {
  flex-basis: 48%;
  height: 350px; /* Slightly increased height for emphasis */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Added shadow for image depth */
}

.about-image:first-child {
  background-image: url('src/images/allayne0.jpg');
}

.about-image:last-child {
  background-image: url('src/images/WhatsApp Image 2024-08-22 at 9.45.04 AM.jpeg');
}

h2, h3, h4 {
  color: #333; /* Ensure headings are white for better readability */
  margin-bottom: 20px; /* Increased spacing for visual hierarchy */
  font-weight: 700; /* Bold headings for emphasis */
}

p {
  color: #2c2c2c; /* Softer text color for readability */
  margin-bottom: 20px;
  line-height: 1.6; /* Increased line-height for better readability */
  font-size: 1.1rem; /* Slightly larger font size */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-section {
      flex-direction: column; /* Stack content and image vertically */
  }

  .about-content, .about-image {
      flex-basis: 100%;
      margin-bottom: 20px; /* Add spacing between stacked elements */
  }
}
