.footer {
    background-color: #373844;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    
  }
  
  .footer-section {
    flex: 1;
    margin: 10px 20px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: #f0f0f0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  
  .social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #bbb;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 5px 0;
  }
  
  .footer-bottom-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom-links li {
    margin: 0 15px;
  }
  
  .footer-bottom-links li a {
    color: #bbb;
    text-decoration: none;
  }
  
  .footer-bottom-links li a:hover {
    color: #fff;
  }
  