
  


  /* Navbar.css */

  nav {
    background-color: #eee2e2; /* Dark background color */
    padding: 10px 20px; /* Padding inside the navbar */
    width: 100%; /* Use 100% of the viewport width */
    box-sizing: border-box; /* Include padding in the width calculation */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
    position: absolute; /* Fix the navbar at the top */
    top: 0; /* Position the navbar at the top */
    left: 0; /* Start from the left edge */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
  }

.nav-logo img {
  height: 50px;
  width: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  color: rgb(12, 10, 12);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff4c4c;
}

.user-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.user-icon:hover {
  opacity: 0.7;
}
