
  


  /* Navbar.css */

  nav {
    background-color: #a19ea1; 
    padding: 10px 20px; 
    width: 100%; /* Use 100% of the viewport width */
    box-sizing: border-box; /* Include padding in the width calculation */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and links */
    align-items: center; /* Center items vertically */
    position: absolute; /* Fix the navbar at the top */
    top: 0; /* Position the navbar at the top */
    left: 0; /* Start from the left edge */
    z-index: 100; 
  }

.nav-logo img {
  height: 50px;
  width: 70px;
}

.nav-logo h4{
  display: inline;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  color: rgb(16, 10, 12);
  text-decoration:none;
  font-size: 17px;
  font-weight: 900;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff4c4c;
  text-decoration: underline  overline;
}

.user-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.user-icon:hover {
  opacity: 0.7;
}
