.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 400px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 1.1rem;
    color: #bf5c5c;
  }
  
  .product-quantity {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .remove-button {
    background-color: #dc3545; 
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .place-order-button {
    background-color: #28a745; /* Green */
    color: white;
    yypadding: 1px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    width: fit-content;
  }