/* UserDashboard.css */

.container {
  display: flex;
  /* height: 100vh; */
  padding-top: 100px;
  width: 1000px;
  height: 500px;
}

.sidebar {
  width: 250px;
  background-color: #a8a1a1;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar a:hover {
  text-decoration: underline;
}

.icon {
  margin-right: 10px;
  color: #e63e3e;
}

.content {
  flex: 1;
  padding: 40px;
  background-color: #3e413e;

}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  margin-right: 20px;
}

.profile-details {
  font-size: 18px;
}

.logout-btn {
  background-color: #ff4c4c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #e63e3e;
}
