.banner {
    width: 100%;
    height: 550px; /* Adjust height as needed */
    overflow: hidden;
    background-color: rgb(231, 198, 230);
  }
  
  .banner-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
  }
  
  .banner-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  .banner-image:nth-child(1) {
    opacity: 1;
        /* animation: fadeInOut 9s ease-in-out infinite; */

  }
  
  .banner-image:nth-child(2) {
    opacity: 0;
    animation: fadeInOut 6s ease-in-out infinite;
  }
  
  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  