/* HomePage.css */
.homepage-container {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.hero-section {
  position: relative;
  background-color: #f8f4f4; 
  padding: 50px 20px;
}

.hero-image {
  width: 90%;
  height: 500px;
}

.hero-text {
  position: absolute; /* Position relative for centered text */
  top: 20%;
  right: 15%;
  text-align: right;
  z-index: 2;
}

.hero-text h1 {
  font-size: 48px;
  margin: 0;
  color: #f110f1;
  font-family: "Georgia", serif;
  font-style: italic;
}

.hero-text h2 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 600;
  font-family: "Georgia", serif;
  color: #f110f1;
}
.hero-text p {
  font-size: 24px;
  margin: 10px 0 0 0;
  color: #f17240; 
}

.categories-section {
  padding: 50px 20px;
  background-color: #fff;
}

.categories-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333; /* Darker gray color */
}

.categories-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.category-item {
  text-align: center;
  width: 200px;
}

.category-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid #ff69b4; /* Pink border */
}

.category-item p {
  font-size: 18px;
  margin-top: 10px;
  color: #333; /* Darker gray color */
}
