.shop-all {
  padding: 20px;
  margin: 10px;
  /* background-image: url('https://static9.depositphotos.com/1003368/1158/i/450/depositphotos_11586491-stock-photo-woman-in-autumn-moscow-city.jpg'); */
  background-color: #f9f9f9(300 98% 0%);
  border: 2px solid rgb(19, 18, 18, 0.1);
  
}

.cont {
    padding: 30px;
    padding-top: 100px;
}

.product-categories {
  display: flex;
  flex-direction: column;
}

.category-section {
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
